
.menu{

    background-color: #2A2A2A;

    height: 50px;

    margin: auto;
    padding: 0px 40px;

    color: var(--white);

    align-items: center;
        
}

.menu li{

    list-style: none;
    padding: 0px 10px;
}


.menu a{

    color: inherit;

    text-align: center;
    text-decoration: none;

}

.logo{

    width: 32px;
    height: 32px;
}