
body{

    background-color: var(--bg-dark);
    margin: 0%;
    padding: 0%;

    max-width: 100vw;

    font-family: var(--font);
}

header{

    width: 100vw;
}

section{

    min-height: 100vh;
    max-width: 100vw;

    padding: 80px;
}

#banner{

    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;

    padding: 10vh 0px 0px 0px;
    margin: 0%;

    height: 100vh;

    color: var(--white);

    text-align: center;

    position: relative;
}

#banner h1{

    margin-bottom: 0%;
    padding-bottom: 0%;
}

#banner h3{

    margin-top: 0%;
    padding-top: 0%;
}

#banner::after{

    content: "";

    background-color: #1e1e1eda;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height:100%;
}

#arrow_down{

    width: 100%;
    
    position: absolute;
    bottom: 80px;
    z-index: 1;
}

#project, #methodology, #about, footer{

    background-image: url(../images/marca-dagua.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position:right;
    background-position-x: 110%;
    background-size: 750px;

    position: relative;
}

#project::after, #methodology::after, #about::after, footer::after{

    content: "";

    background-color: #1e1e1ed5;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height:100%;
}

.button{

    cursor: pointer;
    display: inline-block;

    padding: 10px;
    margin: 40px;

    min-width: 200px;

    text-decoration: none;

    border: none;
    border-radius: 12px;
}

.button:hover{

    transition: 0.5s;
    padding: 12px;
}

.box{

    position: relative;
    z-index: 1;

    display: inline-block;

    width: 33.333%;
    padding-right: 24px;
}

.item{

    position: relative;
    z-index: 1;

    display: inline-block;

    width: 100%;
}

.sixty_pc_width{

    width: 60%;
}

.card{

    background-color: inherit;

    padding: 60px 40px;
    
    border-radius: 12px;
    box-shadow: 0 12px 80px -10px rgb(0 0 0 / 8%)
}

.card .text{

    font-size: 16px;
}

.prev, .next{

    cursor: pointer;

    position: absolute;
    z-index: 1;
    
    top: 50%;
    padding: 10px;
}

.prev{

    left: 1%;
}

.next{

    right: 1%;
}

.prev:hover, .next:hover{

    transition: 0.5s;
    background-color: var(--bg-dark);
    color: var(--white);
}

.dotsBox{

    margin: 20px;
}

.dot{

    cursor: pointer;
}

.video{

    width: 448;
    height: 252;
}

.image{

    margin: 0px auto;

    border-radius: 12px;
}

footer{

    position: relative;

    padding: 80px 80px 40px 40px;

    height: 40vh;
}

footer div{

    height: 140px;
}

footer .logo{

    width: 50px;
    height: 50px;
}

footer .text{

    font-size: 16px;
}

footer ul{

    padding: 0%;
    margin: 20px 0px 0px;
}

footer li{

    list-style: none;
    padding: 0px 10px 0px 0px;
}

.formLine{

    display: flex;

    padding: 0px;
    margin: 0%;

    width: 100%;
}

.formLine label{

    display: block;

    padding-bottom: 5px;
}

.formItem{

    padding: 12px;
    margin: 0%;

    width: 100%;
}

.formItem input{

    padding: 5px;

    width: 100%;
    height: 30px;

    border: 1px solid rgba(102, 102, 102, 0.849);
    border-radius: 5px;
}

.formRadio{

    display: flex;
    
    padding: 5px;
}

.formRadio input{

    width: 16px;
    height: 16px;
}

@media screen and (max-width: 1000px) {

    .button{

        min-width: 150px;

        font-size: 14px;
    }

    .box{

        display: block;
    
        width: 100%;
        padding: 0px 0px 24px;
    }
    
    .item{
    
        display: block;
    }

    .card{

        max-width: 100%;

        padding: 30px 12px;
    }

    .card .text{

        font-size: 14px;
    }

    .sixty_pc_width{

        padding-right: 0px;
    
        width: 100%;
    }

    .image{

        width: 70%;
    }
}

@media screen and (max-width: 700px) {
    
    section{

        padding: 40px 10px;
    }

    .video{

        width: 291px;
        height: 163px;
    }

    .card .video{

        width: 268px;
        height: 151px;
    }
}