
body{

    background-color: var(--bg-dark);
    margin: 0%;
    padding: 0%;

    max-width: 100vw;

    position: relative;

    font-family: var(--font);
}

header{

    width: 100vw;
}

section{

    min-height: 100vh;
    max-width: 100vw;

    padding: 80px;
}

strong{

    font-weight: 900;
}

#banner{

    background-image: url(../images/banner-768x482.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    padding: 10vh 0px 0px 0px;
    margin: 0%;

    height: 100vh;

    color: var(--white);

    text-align: center;

    position: relative;
}

#banner::after{

    content: "";

    background-color: #1e1e1ebb;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height:100%;
}

#arrow_down{

    width: 100%;
    
    position: absolute;
    bottom: 80px;
    z-index: 1;
}

#project{

    background-image: url(../images/marca-dagua.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position:right;
    background-position-x: 90%;
    background-size: 40%;

    position: relative;
}

#project::after{

    content: "";

    background-color: #1e1e1ebb;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height:100%;
}

.button{

    padding: 10px;
    margin: 40px;

    text-decoration: none;

    border-radius: 12px;
}

.box{

    display: inline-block;

    width: 33.333%;
    padding-right: 24px;
}

.item{

    display: inline-block;

    padding-right: 24px;
    width: 50%;
}

.c_width{

    padding-right: 40px;

    width: 50%;
}

.card{

    padding: 40px;

    border-radius: 12px;
    box-shadow: 0 12px 80px -10px rgb(0 0 0 / 8%);

    font-size: 16px;
}

.icon{

    margin-bottom: 40px;
}

.video{

    width: 560;
    height: 315;
}

.image{

    border-radius: 12px;
}