
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root{

    /* Colors */
    --bg-dark: #1e1e1e;
    --bg-light: #eeeeee;
    --black: #000000;
    --white: #ffffff;
    --red: red;
    --orange: #e96228;
    --blue: #569CD6;
    --dark-blue: #1b4ebd;/*#3e719a;#3082C5;*/
    --light-blue: #9CDCFE;
    --green: #4B8B3A;
    --dark-green: #145a00;
    --yellow: #f0d81e;
    --purple: #943a92;
    --brown: #d48057;

    /* Fonts */

    --font: 'Roboto Mono';

    --primary: 90px;
    --mobile-l-primary: 60px;
    --mobile-s-primary: 40px;
    --secondary: 35px;
    --mobile-secondary: 24px;
    --tertiary: 25px;
    --mobile-tertiary: 20px;
    --text: 18px;
    --mobile-text: 14px;

    /* Icons */

}

.black{

    color: var(--black);
}

.white{

    color: var(--white);
}

.orange{

    color: var(--orange);
}

.blue{

    color: var(--blue);
}

.darkBlue{

    color: var(--dark-blue);
}

.lightBlue{

    color: var(--light-blue);
}

.green{

    color: var(--green);
}

.darkGreen{

    color: var(--dark-green);
}

.yellow{

    color: var(--yellow);
}

.purple{

    color: var(--purple);
}

.brown{

    color: var(--brown);
}

.red{

    color: var(--red);
}

.primary{

    font-size: var(--primary);
    text-decoration: none;
}

.secondary{

    font-size: var(--secondary);
    text-decoration: none;
}

.tertiary{

    font-size: var(--tertiary);
    font-weight: 400;
    text-decoration: none;
}

.text{

    font-size: var(--text);
    font-weight: lighter;
    text-decoration: none;  
}

.bolder{

    font-weight: 900;
}

.normal{

    font-weight: 500;
}

.thin{

    font-weight: lighter;
}

.container{

    width: 100%;

    position: relative;
    z-index: 1;

    margin: 0px auto;
    padding: 0%;
}

.fixed{

    position: fixed;
    z-index: 2;
}

.flex{

    display: flex;
}

.block{

    display: block;
}

.hidden{

    overflow: hidden;
}

.dark{

    background-color: var(--bg-dark);

    color: var(--white);
}

.dark .button{

    background-color: var(--yellow);

    color: var(--black);
}

.light{

    background-color: var(--bg-light);

    color: var(--black);
}

.light .button{

    background-color: var(--blue);

    color: var(--white);

    box-shadow: 0 12px 80px -10px rgb(0 0 0 / 8%);
}

.padding_twelve_bottom{

    padding-bottom: 12px;
}

.tab{

    padding-left: 24px;
}

.spacer{

    padding: 0%;
    margin: 0%;

    height: 24px;
}

.left{

    text-align: left;
}

.center{

    text-align: center;
}

.right{

    text-align: right;
}

.spaceAround{

    justify-content: space-around;
}

.spaceBetween{

    justify-content: space-between;
}

.spaceEvenly{

    justify-content: space-evenly;    
}

.pc{

    display: flex
}

.mobile, .mobile_item{

    display: none;
}

@media screen and (max-width: 1000px) {

    .primary{
    
        font-size: var(--mobile-l-primary);
        text-decoration: none;
    }
    
    .secondary{
    
        font-size: var(--mobile-secondary);
        text-decoration: none;
    }
    
    .tertiary{
    
        font-size: var(--mobile-tertiary);
        font-weight: 400;
        text-decoration: none;
    }
    
    .text{
    
        font-size: var(--mobile-text);
        font-weight: lighter;
        text-decoration: none;  
    }

    .flex{

        display: inline-block;

        margin: auto;

        width: 100%;
    }

    .tab{
    
        padding-left: 12px;
    }

    .pc{

        display: none;
    }

    .mobile{
        
        display: flex;
    }

    .mobile_item{

        position: relative;

        display: inline-block;

        width: 100%;
    }
}

@media screen and (max-width: 700px) {

        .primary{

            font-size: var(--mobile-s-primary);
        }
}